<div id="grad">

<h1>{{article.title}}</h1>
<h1>Article Header Goes Here</h1>

{{article-details article=model}}

<!-- <ul>
  {{#each model as |article|}}
    {{article-details article=article destroyArticle="destroyArticle"}}
    {{/each}}

</ul> -->



</div>
